.formulario{
    div{
        button{
            border: 1px solid $color-primario;
            background-color:transparent ;
            &:hover{
                background-color: $color-primario;
                color: #ffffff;
                transition: 1s;
            }
        }
    }
}

.contacto{
    margin-top: 3%;
    h1{
        @extend .titulo;
    }
}

