.container-footer{
    width: 100%;
    height: 7%;
    position: fixed;
    bottom: 0;
    background-color: #000000;
    text-decoration: none;
    .container-footer-ul{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &:hover a{
            filter: blur(2px);
        }
        li{
            display: inline-block;
            width: 50px;
            height: 50px;
            text-align: center;
            .facebook:hover{
                background-color: $color-primario;
            }
            .twitter:hover{
                background-color: $color-primario;
            }
            .instagram:hover{
                background-color: $color-primario;
            }
            .whatsapp:hover{
                background-color: $color-primario;
            }
            a{
                display: block;
                padding: 0 10px;
                background-color: transparent;
                color: #ffffff;
                line-height: 50px;
                font-size: 18px;
                box-shadow: 0 3px 5px 0 rgba(0, 0, 0,.2);
                transition: .4s;
                text-decoration: none;
                &:hover{
                    transform: translateY(-21px) scale(1.05);
                    box-shadow: 0 5px 5px 0 rgba(0, 0, 0,.4);
                    filter: none;
                }
            }
        }

    }
}