@mixin titulo {
    font-family: $font-style-title;
        color: #ffffff;
        letter-spacing: 0.07em;
        text-shadow: -7px 3px 0 $color-primario;
        margin-bottom: 3%;
}
@mixin name($tamaño,) {
    
}
.titulo{
    @include titulo;
        
}

.card-body{
    h5{
        font-family: $font-style-title;
    }
    .btn{
        &:hover{
            border:1px  solid #F01E0C;
            background-color: #000000;
            color: #ffffff;
            transform: translateY(4px) scale(1.05);
        }
    }
}
.tarjeta{
    border: 1px solid $color-primario;
    border-radius: 10%;
    &:hover{
        transform: translateY(-4px) scale(1.05);
        box-shadow: 0 7px 7px 0 rgba(0, 0, 0,.6);
        transition: 0.6s;
    }
}
