$color-primario: #d80032;
$font-style-title: 'Fjalla One', sans-serif;
$estilo-button:(
    crece: translate(10px),
    sombra: 0 5px 5px 0 rgba(0, 0, 0,.4),
    mover: 1s,
    fondo: $color-primario,


);