.accordion{
    div{
        background-color: #1f2124;
        color: white;
        h2{
            button{
                &:focus{
                    color:white;
                    background-color: transparent; 
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }

}
.faq{
    h1{
        font-family: $font-style-title;
        color: #ffffff;
        letter-spacing: 0.07em;
        text-shadow: -7px 3px 0 $color-primario;
        margin-bottom: 3%;
    }
}